.about-base{
    padding-top: 60px;
    background-image: url('/Images/blueprint.svg');
    background-size: cover;
    background-position: center;
    .about-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 55%;
        justify-items: center;
    }
    .about-infotech{
        display: grid;
        grid-template-columns: 1fr 3fr;
        width: 60%;
        justify-items: center;
        column-gap: 20px;
        align-content: start;
        vertical-align: top;
    }
    .github{
        margin-bottom: 20px;
    }
    .about-info{
        background-color: $textWhite;

        color: $blackHole;
        width: 70%;
        margin: auto;
        margin-bottom: 40px;
        padding: 10px 40px 40px 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        li {
            list-style-type: none;
            padding: 4px;
        }
        div{
            width: 100%;
            margin: auto;
        }
        img{
            width: 30vw;
            text-align: center;
            filter: saturate(0) brightness(1.4);
        }
        a{
            color: $blackHole;
        }
       
    }
}