.about-base{
    padding-top: 60px;
    .about-info{
        background-color: $textWhite;
        color: $blackHole;
        width: 80%;
        margin: auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        li {
            list-style-type: none;
            padding: 4px;
        }
        div{
            width: 100%;
            margin: auto;
        }
        img{
            width: 30%;
            text-align: center;
        }
        a{
            color: $blackHole;
        }
       
    }
}