.intro-base{
    display: flex;
    // align-content: center;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    background: url('/Images/rain2.svg');
    // background: url('/Images/spotlight.svg');
    // background-color: #2F9331;
    background-repeat: no-repeat;
    position: relative; 
    background-size: cover;

    &::before{
        
    }
    div{
        margin: 2px auto;
        // border: red 1px solid;
        .rick-logo {
            height: 200px;
            width: auto;
            filter: drop-shadow(7px 7px 7px #111111);
            -webkit-filter: drop-shadow(7px 7px 7px #111111);
        }
        .rick-alter {
            height: 400px;
            width: auto;
            filter: drop-shadow(7px 7px 7px #111111);
            -webkit-filter: drop-shadow(7px 7px 7px #111111);
    
        }
    }

    .realm-intro{
        background: url('/Images/alterrealmintro.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 90vh;
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        img {
            width: 90vw;
            height: auto;
        }
    }
   
}