.Morty{
min-height: 100vh;
max-height: 100vh;
overflow: hidden;
margin: 0;
padding: 0;
background-image: url('/Images/mouse.png');
background-size: cover;
background-position: center;

.morty-time{
  padding-top: 30px;
  margin: auto  ;
  text-align: center;

  h1{
    padding: 0;
  }

  p{
    margin-top: -20px;
  }
}

.morty-done {
  display: flex;
  min-height: 90vh;
}
.morty-score{
  font-size: 60px;
  font-weight: 700;
}

.path {
    position: relative;
    width: 100%;
    min-height: 140px;
    margin: auto;
  }
  .shape {
    cursor: crosshair;
    position: absolute;
    left: 0;
    display: block;
    top: 0;
    x-transition: all 1s ease-in-out;
    animation: ani 8.7s infinite;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  
  @keyframes ani {
    0% {
      left: 0;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 0;
    }
  }

}

.morty-intro{
  background-image: url('/Images/blue2.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  min-height: 100vh;

img {
  margin: 0 auto;
  padding: 0;
  &:first-child{
    height: 50vh;
    margin-bottom: -20px;
  }
 
  &.morty-logo{
    width: 50%;
    padding: 0;
    margin: -50px auto;
  } 

}

button{
  width: 300px;
  margin: auto;
  padding: 20px;
  font-size: 16px;
}

}
.morty-selection{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.morty-instructions{
  color: $blackHole !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  img {
    width: 200px;
    margin: auto;
    padding: 10px;
  }
  button {
    width: 50%;
    margin: auto;
    padding: 20px;
    font-size: 16px;
    border: none;
    &.morty-enter{
      background-color: $rickHair;
      margin: 10px auto -20px auto;
    }
  }
}