.Morty{
min-height: 80vh;
max-height: 100vh;
overflow: hidden;
margin: 0;
padding: 0;

.path {
    position: relative;
    width: 100%;
    min-height: 140px;
    margin: auto;
  }
  .shape {
    cursor: crosshair;
    position: absolute;
    left: 0;
    display: block;
    top: 0;
    x-transition: all 1s ease-in-out;
    animation: ani 8.7s infinite;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  
  @keyframes ani {
    0% {
      left: 0;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 0;
    }
  }

}

.morty-intro{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
img {
  width: 50%;
  margin: auto;
}
}