.profile{
    background-color: $textWhite;
    margin: 10px;
    width: 300px;

    


    img{
        width: 100%;
        vertical-align: middle;
        &:hover{

        }
        
    }
    .profile-body{
        margin-top: -13px;
        min-height: 200px;
       
        &:not(span){
            color: $blackHole !important;
        }
        span{
            font-weight: 700;
            color: $rmBlue !important;
        }
        p {
            
            font-weight: 700;
            text-align: center;
            color: $rmBlue;
        }
        div{
            border-bottom: $blackHole 1px solid;
            padding: 5px;
            &:last-child{
                border-bottom: none; 
            }  
        }
       
        .profile-stats{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            div {
                width: 100%;
                border-right: $blackHole .5px solid;   
                border-bottom: none;   
                &:last-child{
                    border-right: none; 
                }  
            }
            
        }
    }
}