body {
    &.main-body {
        .SpeengleIntro1, .ready-game, .players-section-base, .weapon-base{
            background-image: url('/Images/bubbles.svg');
            
        }


    }
    &.main-body1 {
        .SpeengleIntro1, .ready-game, .players-section-base, .weapon-base{
            background-image: url('/Images/blueprint.png');
            
        }
    }
}
.players-section-base {
    padding-top: 70px;
    min-height: 99vh;
    background-size: cover;
    background-repeat: no-repeat;
  background-attachment: fixed;
    
    .players {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 20px;
    }

    .player-form{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
        form {
            display: flex;
            min-height: 50px;
            align-items: center;
            input {
                height: 55px;
                min-width: 300px;
                font-size: 20px;
            }
            input[type="text"]
    {
        
        &::placeholder{
            font-size:20px;
        }
    }
        }
        
      
        .player-buttons{
            margin: 10px;
            button{
                font-size: 16px;
                border: none;
                margin: 0px 5px;
                padding: 10px;
            }
        }
    }
}

.ready-game {
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    .vs {
        
        h1 {
            margin: 0;
            font-size: 8em;
            color: white;
            text-shadow: 0 0 0.05em #fff, 0 0 0.2em $portalAltGreem, 0 0 0.3em $portalGreen;
            transform: rotate(-7deg);
        }
        button{
            width: 70%;
            padding: 20px;
            font-size: 25px;
            background-color: $portalDarkGreen;
            color: $textWhite !important;
            border: none;
        }
        margin: auto 0;
        text-align: center;
    }
    .card {
        h1 {
            text-align: center;
        }

        .weapon {
            padding: 20px;
            background-color: $summerShirt;
            width: 80px;
            height: 80px;
            display: flex;
            border-radius: 50%;
            z-index: 1;
            position: absolute;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}


.results {
    display: flex;
    min-height: 90vh ;
    align-items: center;
    justify-content: center;
}

.player-card {
    h1 {
        text-align: center;
    }

    .weapon {
        padding: 20px;
        background-color: $summerShirt;
        width: 80px;
        height: 80px;
        display: flex;
        border-radius: 50%;
        z-index: 1;
        position: absolute;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.SpeengleIntro1{
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // background-color: rgb(55, 130, 165);
    justify-content: center;
    // margin: auto;
    min-height: 100vh;
    width: 100vw;

    text-align: center;
    .rick-images{
        // width: 100%;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        align-self: center;
       
        img {
            &:first-child{
                width: 300px;
                vertical-align: middle;
            }
            &.logo{
                width: 500px;

                vertical-align: middle;
            }
    
        }
    }

    .speengle-buttons{
        display: flex;
        justify-content: center;
    }
    
}

.loading{
    img {
        height: 50vh;
        margin: 0;
    }
    h1 {
        font-size: 5rem;
        margin: 0;
        letter-spacing: 5px;
    }
}


.missing-character{
   div {
    display: flex;
    justify-content: center;
    img {
        height: 50vh;
        margin: 0;
        // width: 50vh;
    }
   }
    
    h1 {
        font-size: 4rem;
        margin: 0;
        letter-spacing: 5px;
    }
}