$portalBlue : #303054;
$portalGreen: #448932;
$portalLghtGreen: #6EC41B;
$portalAltGreem: #CBEB06;
$portalDarkGreen: #10833C;
$lightBlue: #65C1E8;
$rickHair: #A5DAF4;
$rickShirt: #93E2DE;

$mortyShirt: #FFFF69;
$summerShirt: #F672DD;

$textWhite: #ffffff;

$rmLogoBlue: #17ABC9;
$rmLogoYellow: #D2DA4A;
$blackHole: black;

$rmBlue: #2F4368;
  /*
Portal Colors
#303054 - dark blue 
#448932 - dark green

  */