.weapon-base{
    padding-top: 60px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
 background-attachment: fixed;
 min-height: 95vh;
 .instructions{
    background-color: #ffffff;
    color: black;
    padding: 10px;
    width: 50vw;
    margin: auto;
    h1{
        margin: 0;
    }
}
    .weapon-choice-base{
        display: flex;
        justify-content: space-evenly;
        min-height: 55vh;
        -webkit-align-items: center; 
        align-items: center;
        
        .weapon-choice{
            background-color: white;
            min-width: 250px;
            button{
                margin: 20px 0;
                border: none;
                text-transform: capitalize;
            }
         
            img {
                height: 150px;
                padding: 20px;
            }
            div{
                text-align: center;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
    }
}